<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <header>
      <a href="{% url 'homepage' %}"> Home</a>
      <a href="{% url 'sign' %}"> Sign Up!</a>
      <a href="{% url 'login' %}"> Login!</a>
   </header>
   
   <h1> Hello, Create An Account Today!</h1>
   <form action="" method="post">
      {% csrf_token %}
      {{former.as_p}}
      <input type="submit" value="Sign Up">
   </form>
  
</body>
</html>